{% extends "base.html" %}

{% block javascript %}
<script>
    var password = window.location.hash.replace('#', '').replace(/(\?|&).*$/, '');

    var private_url = "{{ url_for('owner', oid = pad.oid) }}#{0}".format(password);
    var public_url = "{{ url_for('pad', pid = pad.pid) }}#{0}".format(password);
    var delete_url = "{{ url_for('delete', oid = pad.oid) }}";

    var messages = [
        {%- for message in pad.messages %}
        '{{ message.content | safe }}',
        {%- endfor %}
    ];

    $(document).ready(function() {
        $private_url = $('#private-pad-url');
        $public_url = $('#public-pad-url');
        $delete_url = $('#delete-pad-url');

        $('input[type="text"]').click(function(e) {
            e.preventDefault();
            e.stopPropagation();

            this.focus();
            this.select();
        });

        $private_url.find('a').attr('href', private_url);
        $private_url.find('input[type="text"]').val(window.location.origin + private_url);

        $public_url.find('a').attr('href', public_url);
        $public_url.find('input[type="text"]').val(window.location.origin + public_url);

        var confirm = true;
        $delete_url.find('a').click(function(e) {
            var self = $(this);
            e.preventDefault();

            if (confirm) {
                confirm = false;
                self.removeClass('btn-warning').addClass('btn-danger').text('Sure?');
            } else {
                self.text('Deleting...');
                $.post(delete_url, function(data) {
                    data = JSON.parse(data);

                    if (data.status == 'OK') {
                        self.text('Deleted');
                        window.location = window.location.origin;
                    }
                });
            }
        });

        $messages = $('div#pad-messages');
        for(var i = 0; i < messages.length; i++) {
            var message = messages[i];
            var content = pshare.decrypt(password, message);

            $messages.append('<hr />');
            $element = $('<pre></pre>').text(content).appendTo($messages);
        }
    });
</script>
{% endblock %}

{% block content %}
<div id="private-pad-url" class="centered input-group input-url">
    <div class="input-group-btn">
        <a class="btn btn-default">Private pad URL</a>
    </div>
    <input type="text" class="form-control" />
</div>

<div id="public-pad-url" class="centered input-group input-url">
    <div class="input-group-btn">
        <a class="btn btn-default" target="_blank">Public pad URL</a>
    </div>
    <input type="text" class="form-control" />
</div>

<div id="delete-pad-url" class="centered input-url">
    <a class="btn btn-default btn-block" href="javascript:void(0);">Delete pad</a>
</div>

<h2><span class="label label-default">Messages</span></h2>
<div id="pad-messages" class="centered"></div>
{% endblock %}
